@import "minimal-mistakes/variables";
@import "minimal-mistakes/vendor/breakpoint/breakpoint";

.company-logo {
  padding-right: 5px;
  width: 40px;
}

.about-me {
  a {
    text-decoration: none;
  }

  .about-columns {
    display: flex;
    flex-wrap: wrap
  }

  .avatar {
    display: block;
    margin-bottom: 1em;
    border: 1px solid #f2f3f3;
    max-width: 250px;
    border-radius: 10%;
    margin-right: 2em;
  }

  .bio {
    width: 100%;
    @include breakpoint($small) {
      width: 60%;
    }
    padding-bottom: 1em;
  }

  .social_links {
    display: flex;

    a {
      padding-right: 2em;

      i {
        text-align: left;
      }
    }
  }

}

